<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sinha Fund</title>
    <!-- CSS files for Bootstrap -->
    <!-- UNCOMMENT IF NEEDED -->
    <link rel = 'icon' href="favicon.ico">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Your css file -->
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body>
    <!-- YOUR CODE HERE -->
    <div class="logo-home">
      <div>
        <img style="margin-left:2%;
                    float:left;
                    height:100px;
                    width:100px;"
                    id="logo"
                    src = '../images/LASbw.jpg'>
        </img>
      </div>
      <div>
        <h1 class="title" style='text-align: center'>Lalit and Anju Sinha Scholarship Foundation</h1>
      </div>
    </div>
    <div><br><br><br>
      <nav style="background-color: rgb(246,246,246)" id="navbar" class="navbar">
        <div class="container-fluid">
          <ul class="nav navbar-nav">
            <li id="home"><a href="/">Home</a></li>
            <li id="founder"><a href="founders">Founders</a></li>
            <li id="about"><a href="about">About</a></li>
            <li id="apply"><a href="apply">Apply</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <h2 style='text-align: center'>Apply</h2>
    <div>
      <p style="padding-right: 200px;
                padding-left: 200px;
                font-size: 20px">
        Apply only if your grade point average is at least a B at the end of your Junior year in high school and your parents combined adjusted gross income, as shown on their most recent federal tax filings, is $50,000.00 or less. Federal tax filings need not be submitted with the application, but please show proof of parents adjusted gross income to your interviewer.
      </p>
    </div>

    <!-- Springfield -->

    <div style="border: 2px solid black;
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 15px;
                margin-bottom: 15px;
                border-radius: 20px;
                padding: 10px;"
                id="shs-apply">
      <div class="logo-home">
        <div>
          <img style="margin-left:2%;
                      float:left;
                      height:100px;
                      width:100px;"
                      id="logo"
                      src = '../images/shs.jpg'>
          </img>
        </div>
        <div>
          <p style="text-align: center; font-size: 20px">Springfield High School</p><br><br>
          <div style="text-align: center" id='apply-btn'>
            <button onclick="window.location.href = '/applyshs';" id='afc-apply-btn' class="btn btn-danger">Apply Now</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Hope -->

    <div style="border: 2px solid black;
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 15px;
                margin-bottom: 15px;
                border-radius: 20px;
                padding: 10px;"
                id="shs-apply">
      <div class="logo-home">
        <div>
          <img style="margin-left:2%;
                      float:left;
                      height:100px;
                      width:100px;"
                      id="logo"
                      src = '../images/hope.jpg'>
          </img>
        </div>
        <div>
          <p style="text-align: center; font-size: 20px">Hope Church</p><br><br>
          <div style="text-align: center" id='apply-btn'>
            <button onclick="window.location.href = '/applyhope';" id='afc-apply-btn' class="btn btn-danger">Apply Now</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Abundant Faith -->

    <div style="border: 2px solid black;
                margin-left: 30px;
                margin-right: 30px;
                margin-top: 15px;
                margin-bottom: 15px;
                border-radius: 20px;
                padding: 10px;"
                id="shs-apply">
      <div class="logo-home">
        <div>
          <img style="margin-left:2%;
                      float:left;
                      height:100px;
                      width:100px;"
                      id="logo"
                      src = '../images/afc.jpg'>
          </img>
        </div>
        <div>
          <p style="text-align: center; font-size: 20px">Abundant Faith Church</p><br><br>
          <div style="text-align: center" id='apply-btn'>
            <button onclick="window.location.href = '/applyafc';" id='afc-apply-btn' class="btn btn-danger">Apply Now</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="apply-individual">
      <img class="col-md-3" width="300px" src = 'images/about.jpg'></img>
      <div id="shs-apply">
        <p>Springfield High School Scholarship</p>
        <button id='shs-apply-btn' class="btn btn-danger center-block" type="submit">Apply Now</button><br>
      </div>
    </div> -->


    <!-- jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <!-- JavaScript files for Bootstrap -->
    <!-- UNCOMMENT IF NEEDED -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- underscoreJS Library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script type="text/javascript" src="./js/app.js"></script>
  </body>
</html>
