#lalit {
  font-size: 30px
}
#daphnie {
  font-size: 30px
}
#lalit-story {
  font-size: 20px
}
#daphnie-story {
  font-size: 20px
}
#aboutpg {
  font-size: 20px
}
#applynow {
  width: 200px
}

#emailSubj {
  height: 30px;
  width: 375px;
}
#emailText {
  height: 115px;
  width: 375px;
}
#contact {
  font-size: 30px;
}
#navbar {
  background-color: rgb(246,246,246)
}
#logo {
  margin-left:2%;
  float:left;
  height:100px;
  width:100px;
}
#logo-home {
	width:100%;
	height:auto;
	padding:1%;
}
.title {
  margin:0px;
  padding-top: 10px;
}
.paragraph {
  padding-right: 200px;
  padding-left: 200px;
  font-size: 20px
}
#apply-btn {
  text-align: center;
}
#apply-individual {
  border: 1px solid black;
}
#shs-apply {
  border: 2px solid black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 10px;

}
